 <!-- Content Header (Page header) -->
 <div class='content-header'>
     <div class="'container-fluid">
         <div class="row mb-2">
             <div class="col-sm-6">
                 <hi class="m-0 text-dark">{% block page_title %}{% endblock page_title %}</hi>
             </div>
             <div class="col-sm-6">
                 <ol class="breadcrum float-sm-right">
                     <li class="breadcrum-item"><a href="#"></a> </li>
                     <li class="breadcrum-item active">Dashboard v1</li>
                 </ol>
             </div>
         </div>
     </div>
 </div>